
/*estilos header*/

.dropdown{
    padding: 0;
    .btn{
        background-color: #FFEB9B;
        color:#B8B8DF;
        border-color: #FFEB9B;
        font-size: 10px;
        @include fontSetting;
        & :hover{ 
            background-color: #C8F2C7;
            border-color: #C8F2C7;
            color: #B8B8DF
        }
    }
    .dropdown-menu {
        background-image: linear-gradient(to bottom, #FFEB9B, #FAC2C1 );
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        font-family: $fontFamily;

        a{
            color: #B8B8DF;
            padding: 12px 16px;
            text-decoration: none;
            @include fontSetting;  
        }
    }
    
}

.search-bar{
    max-width: 75%;
    padding: 0;
    font-size: 10px;
    @include fontSetting;
}

.logotitle{
    color: #B8B8DF;
    font-family: 'Homemade Apple', cursive;
    font-weight: 400;
    font-size: 45px;

}

/*fin de estilos header*/